In [1]:
import pandas as pd

In [5]:
# read csv file, show top 10 
results = pd.read_csv('/Users/kryst/Desktop/Python/results.csv')
results.head(10)

,GRAND PRIX,DATE,WINNER,CAR,LAPS,TIME
0,Bahrain,20-Mar-22,Charles Leclerc,FERRARI,57,37:33.6
1,Saudi Arabia,27-Mar-22,Max Verstappen,RED BULL RACING RBPT,50,24:19.3
2,Australia,10-Apr-22,Charles Leclerc,FERRARI,58,27:46.5
3,Emilia Romagna,24-Apr-22,Max Verstappen,RED BULL RACING RBPT,63,32:08.0
4,Miami,8-May-22,Max Verstappen,RED BULL RACING RBPT,57,34:24.3
5,Spain,22-May-22,Max Verstappen,RED BULL RACING RBPT,66,37:20.5
6,Monaco,29-May-22,Sergio Perez,RED BULL RACING RBPT,64,56:30.3
7,Azerbaijan,12-Jun-22,Max Verstappen,RED BULL RACING RBPT,51,34:05.9
8,Canada,19-Jun-22,Max Verstappen,RED BULL RACING RBPT,70,36:21.8
9,Great Britain,3-Jul-22,Carlos Sainz,FERRARI,52,17:50.3

In [6]:
#call the table 
results

,GRAND PRIX,DATE,WINNER,CAR,LAPS,TIME
0,Bahrain,20-Mar-22,Charles Leclerc,FERRARI,57,37:33.6
1,Saudi Arabia,27-Mar-22,Max Verstappen,RED BULL RACING RBPT,50,24:19.3
2,Australia,10-Apr-22,Charles Leclerc,FERRARI,58,27:46.5
3,Emilia Romagna,24-Apr-22,Max Verstappen,RED BULL RACING RBPT,63,32:08.0
4,Miami,8-May-22,Max Verstappen,RED BULL RACING RBPT,57,34:24.3
5,Spain,22-May-22,Max Verstappen,RED BULL RACING RBPT,66,37:20.5
6,Monaco,29-May-22,Sergio Perez,RED BULL RACING RBPT,64,56:30.3
7,Azerbaijan,12-Jun-22,Max Verstappen,RED BULL RACING RBPT,51,34:05.9
8,Canada,19-Jun-22,Max Verstappen,RED BULL RACING RBPT,70,36:21.8
9,Great Britain,3-Jul-22,Carlos Sainz,FERRARI,52,17:50.3
10,Austria,10-Jul-22,Charles Leclerc,FERRARI,71,24:24.3
11,France,24-Jul-22,Max Verstappen,RED BULL RACING RBPT,53,30:02.1
12,Hungary,31-Jul-22,Max Verstappen,RED BULL RACING RBPT,70,39:35.9
13,Belgium,28-Aug-22,Max Verstappen,RED BULL RACING RBPT,44,25:52.9
14,Netherlands,4-Sep-22,Max Verstappen,RED BULL RACING RBPT,72,36:42.8
15,Italy,11-Sep-22,Max Verstappen,RED BULL RACING RBPT,53,20:27.5
16,Singapore,2-Oct-22,Sergio Perez,RED BULL RACING RBPT,59,02:20.2
17,Japan,9-Oct-22,Max Verstappen,RED BULL RACING RBPT,28,01:44.0
18,United States,23-Oct-22,Max Verstappen,RED BULL RACING RBPT,56,42:11.7
19,Mexico,30-Oct-22,Max Verstappen,RED BULL RACING RBPT,71,38:36.7
20,Brazil,13-Nov-22,George Russell,MERCEDES,71,38:34.0
21,Abu Dhabi,20-Nov-22,Max Verstappen,RED BULL RACING RBPT,58,27:45.9

In [7]:
#convert to string
results.to_string()

'        GRAND PRIX       DATE           WINNER                   CAR  LAPS     TIME\n0          Bahrain  20-Mar-22  Charles\xa0Leclerc               FERRARI    57  37:33.6\n1     Saudi Arabia  27-Mar-22   Max\xa0Verstappen  RED BULL RACING RBPT    50  24:19.3\n2        Australia  10-Apr-22  Charles\xa0Leclerc               FERRARI    58  27:46.5\n3   Emilia Romagna  24-Apr-22   Max\xa0Verstappen  RED BULL RACING RBPT    63  32:08.0\n4           Miami\xa0   8-May-22   Max\xa0Verstappen  RED BULL RACING RBPT    57  34:24.3\n5            Spain  22-May-22   Max\xa0Verstappen  RED BULL RACING RBPT    66  37:20.5\n6           Monaco  29-May-22     Sergio\xa0Perez  RED BULL RACING RBPT    64  56:30.3\n7       Azerbaijan  12-Jun-22   Max\xa0Verstappen  RED BULL RACING RBPT    51  34:05.9\n8           Canada  19-Jun-22   Max\xa0Verstappen  RED BULL RACING RBPT    70  36:21.8\n9    Great Britain   3-Jul-22     Carlos\xa0Sainz               FERRARI    52  17:50.3\n10         Austria  10-Jul-22  Charles\xa0Leclerc               FERRARI    71  24:24.3\n11          France  24-Jul-22   Max\xa0Verstappen  RED BULL RACING RBPT    53  30:02.1\n12         Hungary  31-Jul-22   Max\xa0Verstappen  RED BULL RACING RBPT    70  39:35.9\n13         Belgium  28-Aug-22   Max\xa0Verstappen  RED BULL RACING RBPT    44  25:52.9\n14     Netherlands   4-Sep-22   Max\xa0Verstappen  RED BULL RACING RBPT    72  36:42.8\n15           Italy  11-Sep-22   Max\xa0Verstappen  RED BULL RACING RBPT    53  20:27.5\n16       Singapore   2-Oct-22     Sergio\xa0Perez  RED BULL RACING RBPT    59  02:20.2\n17           Japan   9-Oct-22   Max\xa0Verstappen  RED BULL RACING RBPT    28  01:44.0\n18  United States\xa0  23-Oct-22   Max\xa0Verstappen  RED BULL RACING RBPT    56  42:11.7\n19          Mexico  30-Oct-22   Max\xa0Verstappen  RED BULL RACING RBPT    71  38:36.7\n20          Brazil  13-Nov-22   George\xa0Russell              MERCEDES    71  38:34.0\n21       Abu Dhabi  20-Nov-22   Max\xa0Verstappen  RED BULL RACING RBPT    58  27:45.9'

In [8]:
print(results)

        GRAND PRIX       DATE           WINNER                   CAR  LAPS  \
0          Bahrain  20-Mar-22  Charles Leclerc               FERRARI    57
1     Saudi Arabia  27-Mar-22   Max Verstappen  RED BULL RACING RBPT    50
2        Australia  10-Apr-22  Charles Leclerc               FERRARI    58
3   Emilia Romagna  24-Apr-22   Max Verstappen  RED BULL RACING RBPT    63
4           Miami    8-May-22   Max Verstappen  RED BULL RACING RBPT    57
5            Spain  22-May-22   Max Verstappen  RED BULL RACING RBPT    66
6           Monaco  29-May-22     Sergio Perez  RED BULL RACING RBPT    64
7       Azerbaijan  12-Jun-22   Max Verstappen  RED BULL RACING RBPT    51
8           Canada  19-Jun-22   Max Verstappen  RED BULL RACING RBPT    70
9    Great Britain   3-Jul-22     Carlos Sainz               FERRARI    52
10         Austria  10-Jul-22  Charles Leclerc               FERRARI    71
11          France  24-Jul-22   Max Verstappen  RED BULL RACING RBPT    53
12         Hungary  31-Jul-22   Max Verstappen  RED BULL RACING RBPT    70
13         Belgium  28-Aug-22   Max Verstappen  RED BULL RACING RBPT    44
14     Netherlands   4-Sep-22   Max Verstappen  RED BULL RACING RBPT    72
15           Italy  11-Sep-22   Max Verstappen  RED BULL RACING RBPT    53
16       Singapore   2-Oct-22     Sergio Perez  RED BULL RACING RBPT    59
17           Japan   9-Oct-22   Max Verstappen  RED BULL RACING RBPT    28
18  United States   23-Oct-22   Max Verstappen  RED BULL RACING RBPT    56
19          Mexico  30-Oct-22   Max Verstappen  RED BULL RACING RBPT    71
20          Brazil  13-Nov-22   George Russell              MERCEDES    71
21       Abu Dhabi  20-Nov-22   Max Verstappen  RED BULL RACING RBPT    58

       TIME
0   37:33.6
1   24:19.3
2   27:46.5
3   32:08.0
4   34:24.3
5   37:20.5
6   56:30.3
7   34:05.9
8   36:21.8
9   17:50.3
10  24:24.3
11  30:02.1
12  39:35.9
13  25:52.9
14  36:42.8
15  20:27.5
16  02:20.2
17  01:44.0
18  42:11.7
19  38:36.7
20  38:34.0
21  27:45.9

In [9]:
display(results)

,GRAND PRIX,DATE,WINNER,CAR,LAPS,TIME
0,Bahrain,20-Mar-22,Charles Leclerc,FERRARI,57,37:33.6
1,Saudi Arabia,27-Mar-22,Max Verstappen,RED BULL RACING RBPT,50,24:19.3
2,Australia,10-Apr-22,Charles Leclerc,FERRARI,58,27:46.5
3,Emilia Romagna,24-Apr-22,Max Verstappen,RED BULL RACING RBPT,63,32:08.0
4,Miami,8-May-22,Max Verstappen,RED BULL RACING RBPT,57,34:24.3
5,Spain,22-May-22,Max Verstappen,RED BULL RACING RBPT,66,37:20.5
6,Monaco,29-May-22,Sergio Perez,RED BULL RACING RBPT,64,56:30.3
7,Azerbaijan,12-Jun-22,Max Verstappen,RED BULL RACING RBPT,51,34:05.9
8,Canada,19-Jun-22,Max Verstappen,RED BULL RACING RBPT,70,36:21.8
9,Great Britain,3-Jul-22,Carlos Sainz,FERRARI,52,17:50.3
10,Austria,10-Jul-22,Charles Leclerc,FERRARI,71,24:24.3
11,France,24-Jul-22,Max Verstappen,RED BULL RACING RBPT,53,30:02.1
12,Hungary,31-Jul-22,Max Verstappen,RED BULL RACING RBPT,70,39:35.9
13,Belgium,28-Aug-22,Max Verstappen,RED BULL RACING RBPT,44,25:52.9
14,Netherlands,4-Sep-22,Max Verstappen,RED BULL RACING RBPT,72,36:42.8
15,Italy,11-Sep-22,Max Verstappen,RED BULL RACING RBPT,53,20:27.5
16,Singapore,2-Oct-22,Sergio Perez,RED BULL RACING RBPT,59,02:20.2
17,Japan,9-Oct-22,Max Verstappen,RED BULL RACING RBPT,28,01:44.0
18,United States,23-Oct-22,Max Verstappen,RED BULL RACING RBPT,56,42:11.7
19,Mexico,30-Oct-22,Max Verstappen,RED BULL RACING RBPT,71,38:36.7
20,Brazil,13-Nov-22,George Russell,MERCEDES,71,38:34.0
21,Abu Dhabi,20-Nov-22,Max Verstappen,RED BULL RACING RBPT,58,27:45.9

In [23]:
#group by -- group the car,winner, date, by time 
results.groupby(['CAR','WINNER','DATE'])['TIME'].sum()

CAR                   WINNER           DATE
FERRARI               Carlos Sainz     3-Jul-22     17:50.3
                      Charles Leclerc  10-Apr-22    27:46.5
                                       10-Jul-22    24:24.3
                                       20-Mar-22    37:33.6
MERCEDES              George Russell   13-Nov-22    38:34.0
RED BULL RACING RBPT  Max Verstappen   11-Sep-22    20:27.5
                                       12-Jun-22    34:05.9
                                       19-Jun-22    36:21.8
                                       20-Nov-22    27:45.9
                                       22-May-22    37:20.5
                                       23-Oct-22    42:11.7
                                       24-Apr-22    32:08.0
                                       24-Jul-22    30:02.1
                                       27-Mar-22    24:19.3
                                       28-Aug-22    25:52.9
                                       30-Oct-22    38:36.7
                                       31-Jul-22    39:35.9
                                       4-Sep-22     36:42.8
                                       8-May-22     34:24.3
                                       9-Oct-22     01:44.0
                      Sergio Perez     2-Oct-22     02:20.2
                                       29-May-22    56:30.3
Name: TIME, dtype: object

In [24]:
#display all colums
results.columns

Index(['GRAND PRIX', 'DATE', 'WINNER', 'CAR', 'LAPS', 'TIME'], dtype='object')

In [27]:
#create a variable
data_table = results.groupby(['CAR','WINNER','DATE'])['TIME'].sum()

In [28]:
#create a new dataframe
results_sum = pd.DataFrame(data_table)
results_sum

                                                   TIME
CAR                  WINNER          DATE
FERRARI              Carlos Sainz    3-Jul-22   17:50.3
                     Charles Leclerc 10-Apr-22  27:46.5
                                     10-Jul-22  24:24.3
                                     20-Mar-22  37:33.6
MERCEDES             George Russell  13-Nov-22  38:34.0
RED BULL RACING RBPT Max Verstappen  11-Sep-22  20:27.5
                                     12-Jun-22  34:05.9
                                     19-Jun-22  36:21.8
                                     20-Nov-22  27:45.9
                                     22-May-22  37:20.5
                                     23-Oct-22  42:11.7
                                     24-Apr-22  32:08.0
                                     24-Jul-22  30:02.1
                                     27-Mar-22  24:19.3
                                     28-Aug-22  25:52.9
                                     30-Oct-22  38:36.7
                                     31-Jul-22  39:35.9
                                     4-Sep-22   36:42.8
                                     8-May-22   34:24.3
                                     9-Oct-22   01:44.0
                     Sergio Perez    2-Oct-22   02:20.2
                                     29-May-22  56:30.3

In [49]:
#create a subset of dataframe based on column value 

RED_BULL = results[results.CAR == 'RED BULL RACING RBPT']
RED_BULL

,GRAND PRIX,DATE,WINNER,CAR,LAPS,TIME
1,Saudi Arabia,27-Mar-22,Max Verstappen,RED BULL RACING RBPT,50,24:19.3
3,Emilia Romagna,24-Apr-22,Max Verstappen,RED BULL RACING RBPT,63,32:08.0
4,Miami,8-May-22,Max Verstappen,RED BULL RACING RBPT,57,34:24.3
5,Spain,22-May-22,Max Verstappen,RED BULL RACING RBPT,66,37:20.5
6,Monaco,29-May-22,Sergio Perez,RED BULL RACING RBPT,64,56:30.3
7,Azerbaijan,12-Jun-22,Max Verstappen,RED BULL RACING RBPT,51,34:05.9
8,Canada,19-Jun-22,Max Verstappen,RED BULL RACING RBPT,70,36:21.8
11,France,24-Jul-22,Max Verstappen,RED BULL RACING RBPT,53,30:02.1
12,Hungary,31-Jul-22,Max Verstappen,RED BULL RACING RBPT,70,39:35.9
13,Belgium,28-Aug-22,Max Verstappen,RED BULL RACING RBPT,44,25:52.9
14,Netherlands,4-Sep-22,Max Verstappen,RED BULL RACING RBPT,72,36:42.8
15,Italy,11-Sep-22,Max Verstappen,RED BULL RACING RBPT,53,20:27.5
16,Singapore,2-Oct-22,Sergio Perez,RED BULL RACING RBPT,59,02:20.2
17,Japan,9-Oct-22,Max Verstappen,RED BULL RACING RBPT,28,01:44.0
18,United States,23-Oct-22,Max Verstappen,RED BULL RACING RBPT,56,42:11.7
19,Mexico,30-Oct-22,Max Verstappen,RED BULL RACING RBPT,71,38:36.7
21,Abu Dhabi,20-Nov-22,Max Verstappen,RED BULL RACING RBPT,58,27:45.9

In [51]:
#to reset the index list
RED_BULL.reset_index()

,index,GRAND PRIX,DATE,WINNER,CAR,LAPS,TIME
0,1,Saudi Arabia,27-Mar-22,Max Verstappen,RED BULL RACING RBPT,50,24:19.3
1,3,Emilia Romagna,24-Apr-22,Max Verstappen,RED BULL RACING RBPT,63,32:08.0
2,4,Miami,8-May-22,Max Verstappen,RED BULL RACING RBPT,57,34:24.3
3,5,Spain,22-May-22,Max Verstappen,RED BULL RACING RBPT,66,37:20.5
4,6,Monaco,29-May-22,Sergio Perez,RED BULL RACING RBPT,64,56:30.3
5,7,Azerbaijan,12-Jun-22,Max Verstappen,RED BULL RACING RBPT,51,34:05.9
6,8,Canada,19-Jun-22,Max Verstappen,RED BULL RACING RBPT,70,36:21.8
7,11,France,24-Jul-22,Max Verstappen,RED BULL RACING RBPT,53,30:02.1
8,12,Hungary,31-Jul-22,Max Verstappen,RED BULL RACING RBPT,70,39:35.9
9,13,Belgium,28-Aug-22,Max Verstappen,RED BULL RACING RBPT,44,25:52.9
10,14,Netherlands,4-Sep-22,Max Verstappen,RED BULL RACING RBPT,72,36:42.8
11,15,Italy,11-Sep-22,Max Verstappen,RED BULL RACING RBPT,53,20:27.5
12,16,Singapore,2-Oct-22,Sergio Perez,RED BULL RACING RBPT,59,02:20.2
13,17,Japan,9-Oct-22,Max Verstappen,RED BULL RACING RBPT,28,01:44.0
14,18,United States,23-Oct-22,Max Verstappen,RED BULL RACING RBPT,56,42:11.7
15,19,Mexico,30-Oct-22,Max Verstappen,RED BULL RACING RBPT,71,38:36.7
16,21,Abu Dhabi,20-Nov-22,Max Verstappen,RED BULL RACING RBPT,58,27:45.9

In [52]:
#subset using columns 
#df2 = df1[['col1','col2']]
RED_BULL2 = RED_BULL[['GRAND PRIX', 'WINNER','TIME']]
RED_BULL2

        GRAND PRIX          WINNER     TIME
1     Saudi Arabia  Max Verstappen  24:19.3
3   Emilia Romagna  Max Verstappen  32:08.0
4           Miami   Max Verstappen  34:24.3
5            Spain  Max Verstappen  37:20.5
6           Monaco    Sergio Perez  56:30.3
7       Azerbaijan  Max Verstappen  34:05.9
8           Canada  Max Verstappen  36:21.8
11          France  Max Verstappen  30:02.1
12         Hungary  Max Verstappen  39:35.9
13         Belgium  Max Verstappen  25:52.9
14     Netherlands  Max Verstappen  36:42.8
15           Italy  Max Verstappen  20:27.5
16       Singapore    Sergio Perez  02:20.2
17           Japan  Max Verstappen  01:44.0
18  United States   Max Verstappen  42:11.7
19          Mexico  Max Verstappen  38:36.7
21       Abu Dhabi  Max Verstappen  27:45.9

# working with null values

In [30]:
#read csv file 
music = pd.read_csv('/Users/kryst/Desktop/Python/Music Analysis/music_analysis.csv')
music.head()

,Artist_Name,Album_Title,Genre,Composer,Total_Sales,Total_Quantity
0,Academy of St. Martin in the Fields & Sir Nevi...,The World of Classical Favourites,Classical,Ralph Vaughan Williams,1.99,1
1,"Academy of St. Martin in the Fields, John Birc...","Fauré: Requiem, Ravel: Pavane & Others",Classical,Gabriel Fauré,1.99,1
2,"Academy of St. Martin in the Fields, Sir Nevil...",Bach: Orchestral Suites Nos. 1 - 4,Classical,Johann Sebastian Bach,3.98,2
3,Adrian Leaper & Doreen de Feis,Górecki: Symphony No. 3,Classical,Henryk Górecki,1.99,1
4,Antal Doráti & London Symphony Orchestra,"Tchaikovsky: 1812 Festival Overture, Op.49, Ca...",Classical,Ludwig van Beethoven,1.99,1

In [31]:
#find null values
music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Artist_Name     67 non-null     object
 1   Album_Title     67 non-null     object
 2   Genre           67 non-null     object
 3   Composer        48 non-null     object
 4   Total_Sales     67 non-null     float64
 5   Total_Quantity  67 non-null     int64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.3+ KB

In [34]:
#replace null values
music.fillna('NA')

,Artist_Name,Album_Title,Genre,Composer,Total_Sales,Total_Quantity
0,Academy of St. Martin in the Fields & Sir Nevi...,The World of Classical Favourites,Classical,Ralph Vaughan Williams,1.99,1
1,"Academy of St. Martin in the Fields, John Birc...","Fauré: Requiem, Ravel: Pavane & Others",Classical,Gabriel Fauré,1.99,1
2,"Academy of St. Martin in the Fields, Sir Nevil...",Bach: Orchestral Suites Nos. 1 - 4,Classical,Johann Sebastian Bach,3.98,2
3,Adrian Leaper & Doreen de Feis,Górecki: Symphony No. 3,Classical,Henryk Górecki,1.99,1
4,Antal Doráti & London Symphony Orchestra,"Tchaikovsky: 1812 Festival Overture, Op.49, Ca...",Classical,Ludwig van Beethoven,1.99,1
...,...,...,...,...,...,...
62,Various Artists,Sambas De Enredo 2001,Latin,Caruso/Cleber/Deo/Osmar,33.83,17
63,Vinícius De Moraes,Vinicius De Moraes,Latin,NA,11.94,6
64,Yehudi Menuhin,Bartok: Violin & Viola Concertos,Classical,Béla Bartók,1.99,1
65,Yo-Yo Ma,Bach: The Cello Suites,Classical,Johann Sebastian Bach,1.99,1
66,Zeca Pagodinho,Ao Vivo [IMPORT],Latin,Beto Gogo/Jessé Pai/Luiz Carlos/Zeca Pagodinho,17.91,9

In [35]:
#remove all data associated with null values
music.dropna()

,Artist_Name,Album_Title,Genre,Composer,Total_Sales,Total_Quantity
0,Academy of St. Martin in the Fields & Sir Nevi...,The World of Classical Favourites,Classical,Ralph Vaughan Williams,1.99,1
1,"Academy of St. Martin in the Fields, John Birc...","Fauré: Requiem, Ravel: Pavane & Others",Classical,Gabriel Fauré,1.99,1
2,"Academy of St. Martin in the Fields, Sir Nevil...",Bach: Orchestral Suites Nos. 1 - 4,Classical,Johann Sebastian Bach,3.98,2
3,Adrian Leaper & Doreen de Feis,Górecki: Symphony No. 3,Classical,Henryk Górecki,1.99,1
4,Antal Doráti & London Symphony Orchestra,"Tchaikovsky: 1812 Festival Overture, Op.49, Ca...",Classical,Ludwig van Beethoven,1.99,1
6,Berliner Philharmoniker & Hans Rosbaud,Sibelius: Finlandia,Classical,Jean Sibelius,1.99,1
7,Berliner Philharmoniker & Herbert Von Karajan,Grieg: Peer Gynt Suites & Sibelius: Pelléas et...,Classical,Edvard Grieg,3.98,2
8,Billy Cobham,The Best Of Billy Cobham,Jazz,Billy Cobham,7.96,4
9,Caetano Veloso,Prenda Minha,Latin,Jorge Ben,41.79,21
10,Chicago Symphony Orchestra & Fritz Reiner,Scheherazade,Classical,Nikolai Rimsky-Korsakov,3.98,2
12,Chico Science & Nação Zumbi,Afrociberdelia,Latin,Chico Science,49.75,25
15,Dennis Chambers,Outbreak,Jazz,"John Scofield, Robert Aries, Milton Chambers a...",7.96,4
18,Edo de Waart & San Francisco Symphony,"Adams, John: The Chairman Dances",Classical,John Adams,1.99,1
20,"Emanuel Ax, Eugene Ormandy & Philadelphia Orch...",Chopin: Piano Concertos Nos. 1 & 2,Classical,Frédéric Chopin,1.99,1
21,Emerson String Quartet,Schubert: The Late String Quartets & String Qu...,Classical,Franz Schubert,3.98,2
22,English Concert & Trevor Pinnock,Pachelbel: Canon & Gigue,Classical,Johann Pachelbel,1.99,1
23,"Equale Brass Ensemble, John Eliot Gardiner & M...",Purcell: Music for the Queen Mary,Classical,Henry Purcell,3.98,2
24,Eric Clapton,Unplugged,Latin,Gilberto Gil,25.87,13
25,Eugene Ormandy,"Holst: The Planets, Op. 32 & Vaughan Williams:...",Classical,Gustav Holst,3.98,2
27,"Felix Schmidt, London Symphony Orchestra & Raf...",Elgar: Cello Concerto & Vaughan Williams: Fant...,Classical,Edward Elgar,1.99,1
31,Gonzaguinha,Meus Momentos,Latin,Gonzaga Jr.,17.91,9
32,Göteborgs Symfoniker & Neeme Järvi,Nielsen: The Six Symphonies,Classical,Carl Nielsen,1.99,1
33,Incognito,Blue Moods,Jazz,Richard Bull,17.91,9
35,Jota Quest,Jota Quest-1995,Latin,Hyldon,11.94,6
36,Julian Bream,"J.S. Bach: Chaconne, Suite in E Minor, Partita...",Classical,Johann Sebastian Bach,1.99,1
37,Kent Nagano and Orchestre de l'Opéra de Lyon,Weill: The Seven Deadly Sins,Classical,Kurt Weill,1.99,1
38,Legião Urbana,A TempestadeTempestade Ou O Livro Dos Dias,Latin,Renato Russo,33.83,17
39,Luciana Souza/Romero Lubambo,Duos II,Latin,Luciana Souza,1.99,1
41,Marcos Valle,Chill: Brazil (Disc 1),Latin,Jorge Ben,13.93,7
42,Marisa Monte,Barulhinho Bom,Latin,Gilberto Gil,15.92,8
43,Martin Roscoe,"Szymanowski: Piano Works, Vol. 1",Classical,Karol Szymanowski,1.99,1
44,Maurizio Pollini,Beethoven Piano Sonatas: Moonlight & Pastorale,Classical,Ludwig van Beethoven,1.99,1
47,Miles Davis,The Essential Miles Davis [Disc 1],Jazz,Miles Davis,33.83,17
48,Milton Nascimento,Milton Nascimento Ao Vivo,Latin,"Wagner Tiso, Milton Nascimento",29.85,15
50,Orchestra of The Age of Enlightenment,Bach: The Brandenburg Concertos,Classical,Johann Sebastian Bach,1.99,1
51,Os Paralamas Do Sucesso,Acústico MTV,Latin,Bi Ribeira/Herbert Vianna/João Barone,89.55,45
52,Otto Klemperer & Philharmonia Orchestra,Beethoven: Symphony No. 6 'Pastoral' Etc.,Classical,Ludwig van Beethoven,1.99,1
54,"Roger Norrington, London Classical Players",Purcell: The Fairy Queen,Classical,Henry Purcell,1.99,1
55,Royal Philharmonic Orchestra & Sir Thomas Beecham,Haydn: Symphonies 99 - 104,Classical,Franz Joseph Haydn,1.99,1
56,Scholars Baroque Ensemble,Handel: The Messiah (Highlights),Classical,George Frideric Handel,1.99,1
57,Sir Georg Solti & Wiener Philharmoniker,Wagner: Favourite Overtures,Classical,Richard Wagner,1.99,1
59,The 12 Cellists of The Berlin Philharmonic,South American Getaway,Classical,Astor Piazzolla,1.99,1
60,The King's Singers,English Renaissance,Classical,William Byrd,1.99,1
61,Tim Maia,Serie Sem Limite (Disc 1),Latin,Genival Cassiano/Silvio Rochael,47.76,24
62,Various Artists,Sambas De Enredo 2001,Latin,Caruso/Cleber/Deo/Osmar,33.83,17
64,Yehudi Menuhin,Bartok: Violin & Viola Concertos,Classical,Béla Bartók,1.99,1
65,Yo-Yo Ma,Bach: The Cello Suites,Classical,Johann Sebastian Bach,1.99,1
66,Zeca Pagodinho,Ao Vivo [IMPORT],Latin,Beto Gogo/Jessé Pai/Luiz Carlos/Zeca Pagodinho,17.91,9

# duplicates

In [42]:
data_dict = {'id': [1, 2, 3, 4, 5,5],
      'created_at': ['2020-02-01', '2020-02-02', '2020-02-02', '2020-02-02', '2020-02-03','2020-02-03'],
      'type': ['red', None, 'blue', 'blue', 'yellow','yellow']}

df = pd.DataFrame(data_dict, columns = ['id', 'created_at','type', 'converted_tf'])
df

   id  created_at    type converted_tf
0   1  2020-02-01     red          NaN
1   2  2020-02-02    None          NaN
2   3  2020-02-02    blue          NaN
3   4  2020-02-02    blue          NaN
4   5  2020-02-03  yellow          NaN
5   5  2020-02-03  yellow          NaN

In [44]:
#find the duplicates by index id
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [45]:
#remove duplicates --> must justify why doing this. 
df.drop_duplicates()

   id  created_at    type converted_tf
0   1  2020-02-01     red          NaN
1   2  2020-02-02    None          NaN
2   3  2020-02-02    blue          NaN
3   4  2020-02-02    blue          NaN
4   5  2020-02-03  yellow          NaN